/* navbar toogle color design */
.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

/* custom responsive add */
@media only screen and (max-width: 991px) {
    .res-mb-2{
        margin-bottom: .75rem;
    }
    .res-align-center{
        text-align: center;
    }
}